@import '../../../base'

.container
    grid-area: total
    background-color: white
    border-radius: 12px
    display: flex
    align-items: center
    justify-content: center

h1
    font-weight: $bold
    font-size: $big