.select
    position: relative
    width: auto
    padding: 0
    margin: 0
    height: auto
    background-color: red
    width: 10%
    height: 50%
    display: flex
    align-items: center
    flex-direction: row
    justify-content: space-between

.selectHeader
    display: flex
    flex-direction: row
    justify-content: space-between
    
    p
        padding: 0
        margin: 0

.dropdown
    position: absolute
    top: 20px
    width: 100px
    transform: translateX(-45%)
    background-color: green
    overflow: hidden

.selectElement
    height: auto
    display: flex
    align-items: center

.selectElement:hover
     background-color: cyan