@import '../../../base'

.container
    background-color: white
    border-radius: 12px
    grid-area: form
    

.formHeader
    height: 15%
    display: flex
    justify-content: center
    align-items: center
    h2
        font-size: $medium
        font-weight: $bold

.form
    width: 100%
    height: 100%
    text-align: center

.formSelect
    height: 85%
    display: flex
    flex-direction: column
    justify-content: space-between
    

.selectOption
    height: 15%
    border-radius: 8px
    border: solid 1px $primary-color-light
    padding: 0px 10px 0px 10px
    font-size: $small
    font-weight: $regular
    margin: $padding
    outline: none

.submitButton
    height: 15% 
    border-radius: 8px
    border: solid 1px $primary-color
    font-size: $small
    font-weight: $bold
    text-align: center
    background: none
    color: $primary-color
    cursor: pointer
    margin: $padding
    outline: none

.submitButton:hover
    background: $primary-color
    color: white
    
    
    